.Copyright {
    padding: 40px 0px;
}

.Copyright a:first-of-type {
    padding-left: 20px;
}

.Copyright a {
    color: inherit;
}

.Copyright a:hover,
.Copyright a:active {
    text-decoration: none;
}